<div class="hohoho-content pb-4 pt-4">
    <div class="container ">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="card-body">
                    <div class="container text-center p-0">
                        <div>
                            <h1 class="pt-3 pb-3">My Hotels</h1>
                        </div>
                        <table *ngIf="peticionHoteles" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="d-no d-sm-cell" scope="col">Image</th>
                                    <th class="d-no d-xs-cell" scope="col">Town</th>
                                    <th scope="col">Name</th>
                                    <th class="d-no d-lg-cell" scope="col">Phone</th>
                                    <th class="d-no d-lg-cell" scope="col">Email</th>
                                    <th class="d-no d-lg-cell" scope="col">Web</th>
                                    <th class="text-center"><button [routerLink]="['/my-hotels/add-hotel']"
                                            class="btn btn-outline-secondary"><i class="fas fa-plus"></i></button></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider" *ngFor="let hotel of hotels">
                                <tr class="align-middle">
                                    <td class="text-center d-no d-sm-cell">
                                        <img
                                            src="https://image.urlaubspiraten.de/1024/image/upload/v1663577256/mediavault_images/shutterstock_1621847380_aanalx.jpg">
                                    </td>
                                    <td class="text-center d-no d-xs-cell">town info</td>
                                    <td class="text-center">name info</td>
                                    <td class="text-center d-no d-lg-cell">phone info</td>
                                    <td class="text-center d-no d-lg-cell">email info</td>
                                    <td class="text-center d-no d-lg-cell">web info</td>
                                    <td class="text-center td-btns">
                                        <button [routerLink]="['/hotel/:id']" class="btn btn-outline-warning">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button [routerLink]="['/my-hotels/update-hotel']"
                                            class="btn btn-outline-success">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-outline-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button [routerLink]="['/my-hotel/events']" class="btn btn-outline-primary">
                                            <i class="fas fa-calendar"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>