<div class="hohoho-content pb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="card-body">
                    <div class="container text-center">
                        <div>
                            <h3>My Hotels</h3>
                        </div>
                        <table *ngIf="peticionHoteles" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Town</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Web</th>
                                    <th class="text-center"><button [routerLink]="['/my-hotels/add-hotel']" class="btn btn-outline-secondary"><i class="fas fa-plus"></i></button></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider" *ngFor="let hotel of hoteles">
                                <tr class="align-middle">
                                    <td class="text-center">
                                        <img src="https://image.urlaubspiraten.de/1024/image/upload/v1663577256/mediavault_images/shutterstock_1621847380_aanalx.jpg"
                                            width="150" height="100">
                                    </td>
                                    <td class="text-center">{{hotel.id}}</td>
                                    <td class="text-center">{{hotel.description}}</td>
                                    <td class="text-center">{{hotel.name}}</td>
                                    <td class="text-center">{{hotel.phone}}</td>
                                    <td class="text-center">{{hotel.email}}</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <button [routerLink]="['/hotel/:id']" class="btn btn-outline-warning me-2">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button [routerLink]="['/my-hotels/update-hotel']" class="btn btn-outline-success me-2">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger me-2">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button [routerLink]="['/my-hotel/events']" class="btn btn-outline-primary">
                                                <i class="fas fa-calendar"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <div *ngIf="!peticionHoteles">
                                    Loading hotels...
                                  </div>
                                <tr class="align-middle">
                                    <td class="text-center">
                                        <img src="https://image.urlaubspiraten.de/1024/image/upload/v1663577256/mediavault_images/shutterstock_1621847380_aanalx.jpg"
                                            width="150" height="100">
                                    </td>
                                    <td class="text-center">HOTEL NY</td>
                                    <td class="text-center">New York</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-outline-warning me-2">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button class="btn btn-outline-success me-2">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger me-2">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button class="btn btn-outline-primary">
                                                <i class="fas fa-calendar"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="text-center">
                                        <img src="https://image.urlaubspiraten.de/1024/image/upload/v1663577256/mediavault_images/shutterstock_1621847380_aanalx.jpg"
                                            width="150" height="100">
                                    </td>
                                    <td class="text-center">HOTEL NY</td>
                                    <td class="text-center">New York</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-outline-warning me-2">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button class="btn btn-outline-success me-2">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger me-2">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button class="btn btn-outline-primary">
                                                <i class="fas fa-calendar"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="text-center">
                                        <img src="https://image.urlaubspiraten.de/1024/image/upload/v1663577256/mediavault_images/shutterstock_1621847380_aanalx.jpg"
                                            width="150" height="100">
                                    </td>
                                    <td class="text-center">HOTEL NY</td>
                                    <td class="text-center">New York</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-outline-warning me-2">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button class="btn btn-outline-success me-2">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger me-2">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button class="btn btn-outline-primary">
                                                <i class="fas fa-calendar"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="text-center">
                                        <img src="https://image.urlaubspiraten.de/1024/image/upload/v1663577256/mediavault_images/shutterstock_1621847380_aanalx.jpg"
                                            width="150" height="100">
                                    </td>
                                    <td class="text-center">HOTEL NY</td>
                                    <td class="text-center">New York</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">Calle X</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-outline-warning me-2">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button class="btn btn-outline-success me-2">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger me-2">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button class="btn btn-outline-primary">
                                                <i class="fas fa-calendar"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
