<div class="hohoho-content pb-4 pt-4">
    <div class="container ">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="card-body">
                    <div class="container text-center p-0">
                        <div>
                            <h1 class="pt-3 pb-3">My Hotels</h1>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="d-no d-sm-cell" scope="col">Image</th>
                                    <th class="d-no d-xs-cell" scope="col">Town</th>
                                    <th scope="col">Name</th>
                                    <th class="d-no d-lg-cell" scope="col">Phone</th>
                                    <th class="d-no d-lg-cell" scope="col">Email</th>
                                    <th class="d-no d-lg-cell" scope="col">Web</th>
                                    <th class="text-center"><button [routerLink]="['/my-hotels/add-hotel']"
                                            class="btn btn-outline-secondary"><i class="fas fa-plus"></i></button></th>
                                </tr>
                            </thead>
                            @if(loaded && !haveNoResults) {
                            <tbody class="table-group-divider">
                                @for (hotel of hotels; track $index) {
                                    <tr class="align-middle">
                                        <td class="text-center d-no d-sm-cell">
                                            <img
                                                src="{{hotel.imgUrl}}">
                                        </td>
                                        <td class="text-center d-no d-xs-cell">
                                            @if (hotel.town !== undefined) {
                                                {{ hotel.town }}
                                            }
                                        </td>
                                        <td class="text-center">{{hotel.name}}</td>
                                        <td class="text-center d-no d-lg-cell">{{hotel.phone}}</td>
                                        <td class="text-center d-no d-lg-cell">{{hotel.email}}</td>
                                        <td class="text-center d-no d-lg-cell">{{hotel.web}}</td>
                                        <td class="text-center td-btns">
                                            <button [routerLink]="['/hotel/:id']" class="btn btn-outline-warning">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button [routerLink]="['/my-hotels/update-hotel']"
                                                class="btn btn-outline-success">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger" data-bs-toggle="modal" attr.data-bs-target="#deleteHotel{{$index}}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button [routerLink]="['/my-hotel/events']" class="btn btn-outline-primary">
                                                <i class="fas fa-calendar"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    
                                    <!-- Delete Hotel Confirmation Modal -->
                                    <div class="modal fade" id="deleteHotel{{$index}}" tabindex="-1" aria-labelledby="deleteHotelLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteHotelLabel">Delete Hotel</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body alert-danger">
                                                    <p>Are you sure to delete the hotel <b>{{hotel.name}}</b> located in <b>{{hotel.town}}</b>?</p>
                                                    <button data-bs-dismiss="modal" (click)="onDelete(hotel.id, $index)" class="btn btn-outline-danger">Delete Hotel</button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                }
                            </tbody>
                            }
                        </table>
                        @if (!loaded) {
                            <div class="pt-3 pb-3">
                                <h2 class="text-center">Loading results...</h2>
                            </div>
                        }@else if (haveNoResults) {
                            <div class="pt-3 pb-3">
                                <h3 class="text-center">No Hotels Created Yet</h3>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>