<footer class="bg-hohoho">
  <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
       <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
           <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3 text-md-center"><a href="#"> <img src="../assets/img/logo-whiteandblack.webp" alt="HoHoHotel" height="65"></a></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0"><h5>CONTACT</h5></li><li>hohoho&#64;hotels.com</li><li>+720-790-2137</li></ul></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Website Privace Notice</li><li>Cookies</li><li>Legal</li></ul></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Customer service</li><li>Become a partner</li><li>HoHoHotels for business</li></ul></div>
                </div>  
           </div>
       </div>
       <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Copyright HoHoHotel 2023</small></div><div class="col-md-3 col-auto "></div><div class="col-md-3 col-auto"></div>
                    <div class="col-sm-3  col-auto text-md-left  text-right "> <small> 
                      <span><img src="../assets/img/twitterx.png" class="img-fluid "  width="25"></span> 
                      <span><img src="../assets/img/threads.png" class="img-fluid "  width="25"></span>
                      <span><img src="../assets/img/instagram.png" class="img-fluid "  width="25"></span>
                      <span><img src="../assets/img/facebook.png" class="img-fluid "  width="25"></span>
                      <span><img src="../assets/img/telegram.png" class="img-fluid "  width="25"></span>
                    </small>  </div> 
                </div>
            </div>
        </div>
    </footer>
</div>
  </footer>