<div class="hohoho-content pb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="card-body pt-0">
                    <div class="container p-0">
                        <div class="row align-items-stretch justify-content-center no-gutters">
                            <div class="col-md-12">
                                <div class="form h-100 contact-wrap p-0 px-md-3 px-lg-5">
                                    <h1 class="text-center pt-3 pb-3">Create Hotel</h1>
                                    <form class="mb-5" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="" class="col-form-label">Name</label>
                                                <input #nameSelector (change)="nameSelected(nameSelector.value)" type="text" class="form-control" name="name"
                                                    id="floatingName" placeholder="Hotel name">
                                                <div id="floatingName" class="invalid-feedback">
                                                    Nombre Plato no puede estar vacio!
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="town" class="col-form-label">Town</label>
                                                <select #townSelector name="town" (change)="townSelected(townSelector.value)" class="form-control" name="town" id="town">
                                                    @if (townsLoaded) {
                                                        @for (town of towns; track $index; let isFirst = $first;) {
                                                            @if (isFirst) {
                                                                <option value="{{town.id}}" selected>{{town.name}}</option>
                                                            } @else {
                                                                <option value="{{town.id}}">{{town.name}}</option>
                                                            }
                                                        }
                                                    } @else {
                                                        <option value="0" selected>Loading...</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="email" class="col-form-label">Email</label>
                                                <input #emailSelector (change)="emailSelected(emailSelector.value)" type="email" class="form-control" name="email" id="email"
                                                    placeholder="Hotel email">
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="phone" class="col-form-label">Phone</label>
                                                <input #phoneSelector (change)="phoneSelected(phoneSelector.value)" type="text" class="form-control" name="phone" id="phone"
                                                    placeholder="Hotel phone">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="price" class="col-form-label">Price</label>
                                                <input #priceSelector (change)="priceSelected(priceSelector.value)" type="number" class="form-control" name="price" id="price"
                                                    placeholder="Hotel price">
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="rooms" class="col-form-label">Number rooms</label>
                                                <input #numRoomsSelector (change)="numRoomsSelected(numRoomsSelector.value)" type="number" class="form-control" name="number_rooms"
                                                    id="number_rooms" placeholder="Hotel number rooms">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-group mb-3">
                                                <label for="address" class="col-form-label">Address</label>
                                                <input #addressSelector (change)="addressSelected(addressSelector.value)" type="text" class="form-control" name="web" id="address"
                                                    placeholder="Hotel address">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="latitude" class="col-form-label">Latitude</label>
                                                <input #latitudeSelector (change)="latitudeSelected(latitudeSelector.value)" type="number" step="any" class="form-control" name="latitude" id="latitude"
                                                    placeholder="Hotel latitude">
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label for="longitude" class="col-form-label">Longitude</label>
                                                <input #longitudeSelector (change)="longitudeSelected(longitudeSelector.value)" type="number" step="any" class="form-control" name="longitude" id="longitude"
                                                    placeholder="Hotel longitude">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-group mb-3">
                                                <label for="web" class="col-form-label">Web</label>
                                                <input #webSelector (change)="webSelected(webSelector.value)" type="text" class="form-control" name="web" id="web"
                                                    placeholder="Hotel web">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group mb-3">
                                            <label for="description" class="col-form-label">Description</label>
                                            <textarea #descriptionSelector (change)="descriptionSelected(descriptionSelector.value)" class="form-control" name="description" id="description"
                                                placeholder="Hotel description" rows="6"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-group mb-3">
                                                <label for="image" class="col-form-label">Image URL</label>
                                                <input #imgSelector (change)="imgSelected(imgSelector.value)" type="text" class="form-control" name="image" id="image"
                                                    placeholder="Hotel image URL">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group mb-3">
                                            <label for="services" class="col-form-label">Select Hotel Services</label>
                                            @if (servicesLoaded) {
                                                @for (service of services; track $index) {
                                                    <div class="form-check">
                                                        <input (change)="onChangeCheckbox(service.id)" type="checkbox" class="form-check-input" id="wifi"
                                                            name="services" value="{{service.id}}">
                                                        <label class="form-check-label" for="wifi">{{service.name}}</label>
                                                    </div>
                                                }
                                            } @else {
                                                <p>Loading services...</p>
                                            }
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-5 form-group text-center">
                                                <p (click)="onSubmitFilters()" value="Create Hotel" class="btn btn-block btn-outline-success rounded-0 py-2 px-4 mt-5">Create Hotel</p>
                                                <input type="submit" value="Create"
                                                    class="btn btn-block btn-outline-success rounded-0 py-2 px-4 mt-5">
                                                <span class="submitting"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>