<div class="hohoho-content pb-4 pt-4">
  <div class="container">
    <div class="row">
      <div class="card bg-white col-12 mx-auto">
        <h1 class="text-center pt-3 pb-3">Team HoHoHotel</h1>
        <div class="card-body p-0 px-md-3">
          <div class="container px-2">
            <div class="row">
              <div class="col-md-4">
                <!-- Contenido de la primera columna -->
                <div class="card">
                  <div class="card-body">
                    <div class="text-center">
                      <img src="../../assets/img/sergi.jpg" width="100%" height="100%">
                      <h5 class="card-title">Sergi Rodríguez Utgé</h5>
                    </div>
                    <p class="card-text mt-3">About Me:</p>
                    <p class="text-muted text-justify">I am an empathetic junior full-stack developer with a relentless
                      appetite for learning and a constant eagerness to take on new challenges. My team-oriented
                      attitude and vibrant, positive personality make me enthusiastic about meeting new people and
                      working on collaborative projects.</p>
                  </div>
                </div>
                <div class="text-center pb-5 pt-1" style="margin-top: 5px;">
                  <a href="https://github.com/SerotDev"><img src="../assets/img/github.png" height="50" width="50"></a>
                </div>
              </div>
              <div class="col-md-4">
                <!-- Contenido de la segunda columna -->
                <div class="card">
                  <div class="card-body">
                    <div class="text-center">
                      <img src="../../assets/img/ainara.jpg" width="100%" height="100%">
                      <h5 class="card-title">Ainara Blanco Iza</h5>
                    </div>
                    <p class="card-text mt-3">About Me:</p>
                    <p class="text-muted text-justify">I identify myself as a person with an innate curiosity for
                      discovery and research. I have been active in acquiring new knowledge and programming gives me the
                      opportunity to apply my multidisciplinary skills, passion for problem solving and also explore my
                      creativity.</p>
                  </div>
                </div>
                <div class="text-center pb-5 pt-1" style="margin-top: 5px;">
                  <a href="https://github.com/Ekirina"><img src="../assets/img/github.png" height="50" width="50"></a>
                </div>
              </div>
              <div class="col-md-4">
                <!-- Contenido de la tercera columna -->
                <div class="card">
                  <div class="card-body">
                    <div class="text-center">
                      <img src="../../assets/img/robert.png" width="100%" height="100%">
                      <h5 class="card-title">Robert López Machuca</h5>
                    </div>
                    <p class="card-text mt-3">About Me:</p>
                    <p class="text-muted text-justify">Insert description Here</p>
                  </div>
                </div>
                <div class="text-center pb-5 pt-1" style="margin-top: 5px;">
                  <a href="https://github.com/robertiki2001"><img src="../assets/img/github.png" height="50"
                      width="50"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>