<div class="hohoho-content pb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="text-center">
                <h1>Team HoHoHotel</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                          <div class="col-md-4">
                            <!-- Contenido de la primera columna -->
                            <div class="card">
                              <div class="card-body">
                                <div class="text-center">
                                <img src="../../assets/img/sergi.jpg" width="170" height="170">
                                <h5 class="card-title">Sergi Rodriguez Utgé</h5>
                                </div>
                                <p class="card-text">About Me:</p>  
                              </div>
                            </div>
                            <div class="text-center" style="margin-top: 5px;"> 
                            <a href="https://github.com/SerotDev"><img src="../assets/img/github.png" height="50" width="50"></a></div>
                          </div>
                          <div class="col-md-4">
                            <!-- Contenido de la segunda columna -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center">
                                    <img src="../../assets/img/ainara.jpeg" width="170" height="170">
                                    <h5 class="card-title">Ainara Blanco Iza</h5>
                                    </div>
                                    <p class="card-text">About Me:</p>
                                  </div>
                            </div>
                            <div class="text-center" style="margin-top: 5px;"> 
                                <a href="https://github.com/Ekirina"><img src="../assets/img/github.png" height="50" width="50"></a></div>
                            </div>
                          <div class="col-md-4">
                            <!-- Contenido de la tercera columna -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center">
                                    <img src="../../assets/img/robert.png" width="170" height="170">
                                    <h5 class="card-title">Robert López Machuca</h5>
                                    </div>
                                    <p class="card-text">About Me:</p>
                                  </div>
                            </div>
                            <div class="text-center" style="margin-top: 5px;"> 
                                <a href="https://github.com/robertiki2001"><img src="../assets/img/github.png" height="50" width="50"></a>
                            </div>
                              </div>
                          </div>
                        </div>
                    </div>
            </div>


                    </div>
            </div>
        </div>
   