    <nav class="navbar navbar-expand-lg navbar-dark navbar-bottom rounded-bottom" id="topbuttons">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="navbarToggle">
                <span class="navbar-toggler-icon"><i class="fa fa-toggle-down" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
              <a href="#"> <img src="../assets/img/logo.svg" alt="HoHoHotel" height="65"></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" routerLink="about" >About <img src="../assets/img/elfo white.png" height="23" width="23"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="search">Map <img src="../assets/img/window white.png" height="23" width="23"></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="hotels">Hotels list <img src="../assets/img/hotel.png" height="23" width="23"></a>
                  </li>
                </ul>
                <form class="d-flex align-items-center justify-items-center">
                    <ul class="navbar-nav menu-end-part">
                        <li class="nav-item">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search here your wish..."
                                    aria-label="search" aria-describedby="search">
                                <span class="input-group-text" id="search"><a href="#" class="d-inline-block link-dark"><i class="fa fa-search"
                                            aria-hidden="true"></i></a></span>
                            </div>
                        </li>
                        <li>
                          <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
                            <li class="nav-item" width="150">
                                <a class="nav-link" routerLink="login" aria-current="page" href="#">Login <img src="../assets/img/open present.png" height="23" width="23"></a>
                            </li>
                            <li class="nav-item" width="150">
                                <a class="nav-link" routerLink="register" aria-current="page" href="#">Register <img src="../assets/img/close present.png" height="23" width="23"></a>
                            </li>
                            <li class="nav-item" width="150">            
                                <a class="nav-link" routerLink="profile" aria-current="page" href="#">Profile <img id="cookie" src="../assets/img/profile-unscreen.gif" height="25"></a>
                            </li>
                            <li class="nav-item" width="150">            
                              <a class="nav-link" routerLink="favourites" aria-current="page" href="#">Favourites <img src="../assets/img/star favourites.png" height="25"></a>
                          </li>
                        </div>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
