<nav class="navbar navbar-expand-lg navbar-dark navbar-bottom ps-3 pe-3" id="topbuttons">
    <div class="container-fluid">
        <a href="#"><img id="logo-navbar" src="../assets/img/logo.svg" alt="HoHoHotel"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="navbarToggle">
            <span class="navbar-toggler-icon"><i class="fa fa-toggle-down" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
            <div class="navbar-separator mt-3 d-block d-lg-none"></div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-0 ms-lg-4 text-center text-lg-start">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" routerLink="about">About <img
                            src="../assets/img/elfo white.png" height="23" width="23"></a>
                </li>
                <div class="navbar-separator d-block d-lg-none"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/map']">Map <img src="../assets/img/map3.png" height="23"
                            width="23"></a>
                </li>
                <div class="navbar-separator d-block d-lg-none"></div>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hotels-list']">Hotels list <img src="../assets/img/list2.png"
                            height="23" width="23"></a>
                </li>
                <div class="navbar-separator d-block d-lg-none"></div>
            </ul>
            <form class="d-flex align-items-center justify-items-center">
                <ul class="navbar-nav menu-end-part text-center text-lg-start w-100">
                    @if(!isLogged){
                    <div class="navbar-separator d-block d-lg-none"></div>
                    <li class="nav-item" width="150">
                        <a class="nav-link" [routerLink]="['/login']" aria-current="page">Login <img
                                src="../assets/img/open present.png" height="23" width="23"></a>
                    </li>
                    <div class="navbar-separator d-block d-lg-none"></div>
                    <li class="nav-item" width="150">
                        <a class="nav-link" [routerLink]="['/register']" aria-current="page">Register <img
                                src="../assets/img/close present.png" height="23" width="23"></a>
                    </li>
                    } @else {
                    <div class="navbar-separator d-block d-lg-none"></div>
                    <li class="nav-item" width="150">
                        <a class="nav-link" [routerLink]="['/profile']" aria-current="page" href="#">Profile <img
                                id="cookie" src="../assets/img/profile-unscreen.gif" height="25"></a>
                    </li>
                    <div class="navbar-separator d-block d-lg-none"></div>
                    <li class="nav-item" width="150">
                        <a class="nav-link" [routerLink]="['/favourites']" aria-current="page">Favourites <img
                                src="../assets/img/star favourites.png" height="25"></a>
                    </li>
                    <div class="navbar-separator d-block d-lg-none"></div>
                    <li class="nav-item" width="150">
                        <a class="nav-link" [routerLink]="['/my-hotels']" aria-current="page">My Hotels <img
                                src="../assets/img/hotel.png" height="25"></a>
                    </li>
                    <div class="navbar-separator d-block d-lg-none"></div>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']" aria-current="page" (click)="logout()">Logout</a>
                    </li>
                    }
                </ul>
            </form>
        </div>
    </div>
</nav>
<div id="border-bottom"></div>