<div class="hohoho-content pb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="card-body pb-0">
                    <button [routerLink]="['/my-hotel/add-event']" class="btn btn-outline-secondary"><i class="fas fa-plus"></i> Nuevo Evento</button>
                </div>
                <div class="card-body pt-0" *ngIf="peticionEvents">
                    <div class="container text-center mb-5" *ngFor="let event of events">
                        <h3 class="mt-4">{{event.title}}</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Town</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Entry price (€)</th>
                                    <th scope="col">Public/Private</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider" >
                                <tr class="align-middle">
                                    <td class="text-center">
                                        <img src="{{event.hotel.imgsUrl}}" width="150" height="100">
                                    </td>
                                    <td class="text-center">{{event.hotel.town.name}}</td>
                                    <td class="text-center">{{event.startDate}}</td>
                                    <td class="text-center">{{event.endDate}}</td>
                                    <td class="text-center">{{event.entryPrice}}</td>
                                    <td class="text-center">{{event.isPublic}}</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <button [routerLink]="['/event/:id']" class="btn btn-outline-warning me-2">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button [routerLink]="['/my-hotel/update-event']" class="btn btn-outline-success me-2">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button [routerLink]="['/my-hotel/update-event']" class="btn btn-outline-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>