<div class="contenedor container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && logUser()" #f="ngForm" novalidate>
              <h5 class="fw-bold mb-2 text-uppercase">Login to our site<i class="candado fa fa-lock fa-3x" aria-hidden="true"></i></h5>
              <p class="p1 text-white-50 mb-5">Enter username and password</p>
              <div class="form-floating mb-4">
                <input type="text" name="username" id="floatingUsername" class="form-control bg-dark text-white" [class.is-invalid]="username.errors && f.submitted" [(ngModel)]="login.username" required #username="ngModel" />
                <label for="floatingUsername">Username</label>
                <div id="floatingUsername" class="invalid-feedback">
                  Username is required!
                </div>
              </div>
              <div class="form-floating mb-4 ">
                <input type="password" name="password" id="floatingPassword" class="form-control bg-dark text-white" [class.is-invalid]="password.errors && f.submitted" [(ngModel)]="login.password" required #password="ngModel" />
                <label for="floatingPassword">Password</label>
                <div id="floatingPassword" class="invalid-feedback">
                  <div *ngIf="password.errors?.['required']">Password is required</div>
                </div>
              </div>
              <button class="btn btn-outline-light btn-lg mt-3 px-5" type="submit">Log in <i *ngIf="isLoggin" class="fas fa-spinner fa-spin"></i></button>
  
              <div class="text-danger mt-5" *ngIf="f.submitted && isLoginFailed">
                Login failed: {{errorMessage}}
              </div>
            </form>
            <div *ngIf="isLoggedIn">
              <h4>Bienvenido {{login.username}}</h4>
              <button class="btn btn-success mt-5" routerLink="/home">Continuar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>