.contenedor {
    margin-top: 100px;
  }
  
  p {
    text-align: center;
    margin-top: 4px;
  }
  
  h3 {
    text-align: left;
  }
  
  h3 img {
    float: right;
}
  
  .p1 {
    text-align: left;
  }
  
  .candado {
    float: right;
  }

  #box {
    background-color: #5D9C59;
    border: 5px dotted red;
}