<body>
    <div class="container text-center" id="fav-contain">
        <div>
            <h3>My favourites hotels</h3>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Town</th>
                <th scope="col">Ranking</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>
                    <img src="https://image.urlaubspiraten.de/1024/image/upload/v1663577256/mediavault_images/shutterstock_1621847380_aanalx.jpg" width="200" height="100">
                </td>
                <td>HOTEL NY</td>
                <td>New York</td>
                <td>*****</td>
                <td><button type="button" class="btn btn-outline-danger">Edit</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </td>
              </tr>
              <tr>
                <td>enlace</td>
                <td>hotel</td>
                <td>town</td>
                <td><!--<p-rating [(ngModel)]="value"></p-rating>--></td>
                <td><button type="button" class="btn btn-outline-danger">Edit</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </td>
              </tr>
              <tr>
                <td>enlace</td>
                <td>hotel</td>
                <td>town</td>
                <td>estrellas</td>
                <td><button type="button" class="btn btn-outline-danger">Edit</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>

</body>