body {
  width: 100%;
  min-height: 100%;
}

td img {
  height: calc(30px + 10vw);
  max-width: 200px;
  max-height: 100px;
  border-radius: 5px;
}

.td-btns button,
.td-btns > a {
  width: 40px !important;
  height: 40px !important;
}

.td-btns > button,
.td-btns > a {
  margin: 4px;
}

.table, .container{
    box-sizing: border-box;
}

.card, .card-body {
    padding: 0px;
}

.modal-footer #popup-btn {
  width: 100px!important;
}