<div class="hohoho-content pb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="card-body">
                    <div class="container mt-5 px-0">
                        <h1 class="text-center">{{hotel.name}}</h1>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="star-rating">
                                @switch (hotel.starRatingAvg) {
                                    @case (0) {
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    }
                                    @case (1) {
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    }
                                    @case (2) {
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    }
                                    @case (3) {
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    }
                                    @case (4) {
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-regular fa-star fa-lg"></span>
                                    }
                                    @case (5) {
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    <span class="fa fa-star fa-lg"></span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="card" id="content-photo">
                            <div class="card-img-hotel" style="background-image: url('{{hotel.imgsUrl}}');">
                            </div>
                            <div class="card-body">
                                <div class="row text-left text-md-center">
                                    <div class="col-12 col-md-4">
                                        <p class="card-text"><a
                                                href="mailto:{{hotel.email}}?subject=Interested%20in%20your%20Hotel&amp;body=Hello,%20I%20visited%20your%20page%20in%20HoHoHotel.com.%20I%20want%20to%20get%20more%20information.%20Thanks."
                                                target="_blank"><i class="fa-solid fa-envelope"></i>
                                                 {{hotel.email}}</a></p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="card-text"><a href="tel:{{hotel.phone}}"><i
                                                    class="fa-solid fa-phone"></i> {{hotel.phone}}</a></p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p class="card-text"><a href="https://{{hotel.web}}" target="_blank"><i
                                                    class="fa-solid fa-globe"></i> {{hotel.web}}</a></p>
                                    </div>
                                </div>
                                <hr>
                                <h2 class="h5 card-title pt-3">Description:</h2>
                                <p class="card-text">{{hotel.description}}</p>
                                <div class="row text-left text-md-center pt-md-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="h5 card-title">Number of roms:</h2>
                                        <p class="card-text">{{hotel.numberRooms}}</p>
                                    </div>
                                    <div class="col-12 col-md-4 pt-3 pt-md-0">
                                        <h2 class="h5 card-title">Price:</h2>
                                        <p class="card-text">{{hotel.price}}€</p>
                                    </div>
                                    <div class="col-12 col-md-4 col-services pt-3 pt-md-0">
                                        <h2 class="h5 card-title">Services:</h2>
                                        <div class="hotel-services d-flex flex-wrap justify-content-md-center">
                                            @for (service of hotel.hotelServices; track $index) {
                                                <p>{{service.name}}</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-5">
                                <h2 class="h5 card-title text-center">Adress:</h2>
                                <p class="card-text text-center"><a
                                        href="https://www.google.com/maps/search/?api=1&query={{hotel.latitude}}%2C{{hotel.longitude}}"
                                        target="_blank"><i class="fa-solid fa-map-location-dot"></i> {{hotel.address}}</a>
                                </p>
                            </div>

                        </div>
                        <div class="events-hotel">
                            <h3 class="mt-5 text-center">Our events</h3>
                            <!--Buttons of NAV-->
                            <div class="d-flex justify-content-center">
                                <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                                    @if (privateEventsHaveResults) {
                                        <li class="nav-item" role="presentation">
                                            <button class="active btn btn-outline-success" id="pills-private-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-private" type="button"
                                                role="tab" aria-controls="pills-private" aria-selected="true">Private hotel
                                                events</button>
                                        </li>
                                    }
                                    @if (privateEventsHaveResults && publicEventsHaveResults) {&nbsp;}
                                    @if (publicEventsHaveResults) {
                                        <li class="nav-item" role="presentation">
                                            <button class="btn btn-outline-success" id="pills-public-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-public" type="button"
                                                role="tab" aria-controls="pills-public" aria-selected="false">Public events
                                                in the town</button>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!--Finish buttons of NAV AND start content-->
                            <div class="tab-content" id="pills-tabContent">
                            @if (privateEventsHaveResults) {
                                <div class="tab-pane fade show active" id="pills-private" role="tabpanel"
                                    aria-labelledby="pills-home-tab">
                                    <div class="row w-100 justify-content-left mb-5 mx-0">
                                        @for (privateEvent of privateEvents; track $index) {
                                            <div class="col-12 col-sm-6 col-lg-4 card-col hotel-container">
                                                <a id="anchor-to-hotel" [routerLink]="['/event/' + privateEvent.id]">
                                                    <div class="hotel-card card">
                                                        <div class="card-img-top"
                                                            style="background-image: url('{{privateEvent.imgUrl}}');"></div>
                                                        <div class="card-body">
                                                            <p class="card-title text-center"><b>{{privateEvent.title}}</b></p>
                                                            <div class="hotel-card-footer">
                                                                <hr>
                                                                <div
                                                                    class="event-date-style d-flex justify-content-center pb-3">
                                                                    <p>{{privateEvent.startDate}}</p>
                                                                    <p>{{privateEvent.endDate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if (privateEvent.entryPrice == 0) {
                                                            <p class="price-style h3 p-2 hohoho-primary-clear"><b>FREE</b></p>
                                                        } @else {
                                                            <p class="price-style h3 p-2"><b>{{privateEvent.entryPrice}}€</b></p>
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                                <!--Fish content private events and start content public events-->
                            @if (publicEventsHaveResults && privateEventsHaveResults) {
                                <div class="tab-pane fade" id="pills-public" role="tabpanel"
                                    aria-labelledby="pills-profile-tab">
                                    <div class="row w-100 justify-content-left mb-5 mx-0">
                                        @for (publicEvent of publicEvents; track $index) {
                                            <div class="col-12 col-sm-6 col-lg-4 card-col hotel-container">
                                                <a id="anchor-to-hotel" [routerLink]="['/event/' + publicEvent.id]">
                                                    <div class="hotel-card card">
                                                        <div class="card-img-top"
                                                            style="background-image: url('{{publicEvent.imgUrl}}');"></div>
                                                        <div class="card-body">
                                                            <p class="card-title text-center"><b>{{publicEvent.title}}</b></p>
                                                            <div class="hotel-card-footer">
                                                                <hr>
                                                                <div
                                                                    class="event-date-style d-flex justify-content-center pb-3">
                                                                    <p>{{publicEvent.startDate}}</p>
                                                                    <p>{{publicEvent.endDate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if (publicEvent.entryPrice == 0) {
                                                            <p class="price-style h3 p-2 hohoho-primary-clear"><b>FREE</b></p>
                                                        } @else {
                                                            <p class="price-style h3 p-2"><b>{{publicEvent.entryPrice}}€</b></p>
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            @if (publicEventsHaveResults && !privateEventsHaveResults) {
                                <div class="tab-pane fade show active" id="pills-public" role="tabpanel"
                                    aria-labelledby="pills-profile-tab">
                                    <div class="row w-100 justify-content-left mb-5 mx-0">
                                        @for (publicEvent of publicEvents; track $index) {
                                            <div class="col-12 col-sm-6 col-lg-4 card-col hotel-container">
                                                <a id="anchor-to-hotel" [routerLink]="['/event/' + publicEvent.id]">
                                                    <div class="hotel-card card">
                                                        <div class="card-img-top"
                                                            style="background-image: url('{{publicEvent.imgUrl}}');"></div>
                                                        <div class="card-body">
                                                            <p class="card-title text-center"><b>{{publicEvent.title}}</b></p>
                                                            <div class="hotel-card-footer">
                                                                <hr>
                                                                <div
                                                                    class="event-date-style d-flex justify-content-center pb-3">
                                                                    <p>{{publicEvent.startDate}}</p>
                                                                    <p>{{publicEvent.endDate}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if (publicEvent.entryPrice == 0) {
                                                            <p class="price-style h3 p-2 hohoho-primary-clear"><b>FREE</b></p>
                                                        } @else {
                                                            <p class="price-style h3 p-2"><b>{{publicEvent.entryPrice}}€</b></p>
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>