<div class="hohoho-content pb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="card bg-white col-12 mx-auto">
                <div class="card-body">
                    <div class="container mt-5 px-0">
                        <h1 class="text-center">Event Title</h1>
                        <div class="card mb-2" id="content-photo">
                            <div class="card-img-hotel" style="background-image: url('../../assets/img/event_public.jpg');">
                            </div>
                            <div class="card-body">
                                <div class="event-date-style d-flex justify-content-center text-center pb-3">
                                    <p>Start date: 19/12/2023</p>
                                    <p>End date: 07/01/2024</p>
                                </div>
                                <h5 class="card-title">Description:</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="row text-left text-md-center pt-md-4">
                                    <div class="col-12 col-md-4 pt-3 pt-md-0">
                                        <h2 class="h5 card-title">Price:</h2>
                                        <p class="card-text">538€</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h2 class="h5 card-title">Owner:</h2>
                                        <p class="card-text">Hotel Name</p>
                                    </div>
                                    <div class="col-12 col-md-4 col-services pt-3 pt-md-0">
                                        <h2 class="h5 card-title">Event Type:</h2>
                                        <p class="card-text">Public</p>
                                    </div>
                                </div>
                                <hr class="mt-5">
                                <h2 class="h5 card-title text-center">Adress:</h2>
                                <p class="card-text text-center"><a
                                        href="https://www.google.com/maps/search/?api=1&query=42.1493659%2C1.0980175"
                                        target="_blank"><i class="fa-solid fa-map-location-dot"></i> Adress 1, num 8</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>