<div class="hohoho-content pb-4 pt-4">
  <div class="container">
    <div class="row">
      <div class="card bg-white col-12 mx-auto">
        <div class="card-body">
          <div class="container">
            <div
              class="row align-items-stretch justify-content-center no-gutters"
            >
              <div class="col-md-7">
                <div class="form h-100 contact-wrap p-5">
                  <h3 class="text-center">Visitor</h3>

                  <div class="text-center" id="avatar">
                    <img
                      src="../../assets/img/profile-img-3.png"
                      width="150"
                      height="150"
                    />
                  </div>

                  <form
                    class="mb-5"
                    method="post"
                    id="contactForm"
                    name="contactForm"
                    novalidate="novalidate"
                  >
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <label for="" class="col-form-label">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          id="name"
                          placeholder="Your name"
                        />
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label for="" class="col-form-label">Surname</label>
                        <input
                          type="surname"
                          class="form-control"
                          name="surname"
                          id="surname"
                          placeholder="Your surname"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <label for="" class="col-form-label">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="Your email"
                        />
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label for="" class="col-form-label">Phone</label>
                        <input
                          type="phone"
                          class="form-control"
                          name="phone"
                          id="phone"
                          placeholder="Your phone"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <label for="" class="col-form-label">URL Image</label>
                        <input
                          type="urlimage"
                          class="form-control"
                          name="urlimage"
                          id="urlimage"
                          placeholder="Your url image"
                        />
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-5 form-group text-center">
                        
                        <input type="submit" value="Update" class="btn btn-block btn-outline-success rounded-2 py-2 px-4"/>
                      </div>
                    </div>
                  </form>
                    Your profile was sent to Santa Claus, thank you!
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
