.filters-right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-left: 0px solid rgb(194, 16, 16, 0.5);
  border-bottom: 3px solid rgb(194, 16, 16, 0.5);
}

.range-input:focus,
.range-input[type]:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  outline: 0 none;
}

.lbl-stl {
  color: #467543;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .filters-right {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px solid rgb(194, 16, 16, 0.5);
    border-bottom: 0px solid rgb(194, 16, 16, 0.5);
  }
}

.star-rating > .fa {
  color: orange;
}

.star-rating {
  padding-bottom: 1.1rem;
}

.hotel-container {
  height: 350px;
  padding: 0.7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  transform: scale(1) translateY(0px);
  transition: 0.5s ease all;
  &:hover {
    transform: perspective(900px) scale(1.03);
  }
  &:active {
    transform: perspective(900px) scale(1.03);
  }
  &:focus {
    transform: perspective(900px) scale(1.03);
  }
}

.hotel-card {
  position: relative;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.card-body {
  position: relative;
  height: 100%;
}

.hotel-container > a {
  color: black;
  text-decoration: none;
}

.card-img-top {
  height: 160px;
  width: 100%;
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
  border-bottom: 1px solid rgb(194, 16, 16, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-col {
  box-sizing: border-box;
}

.price-style {
  text-shadow: 1px 1px 2px black, 0px 0px 2px black, 0px 0px 40px black;
  color: rgb(244, 233, 192);
  position: absolute;
}

.hotel-services > p {
  color: #467543;
  font-size: 0.7rem;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0.5rem;
  border: 1px solid rgb(194, 16, 16, 0.5);
  background-color: #fffeea;
  display: inline-block;
}

.hotel-card-footer {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}

.fa-chevron-up {
  color: #e64848;
  transition: all 0.3s ease;
  border: 1px solid #e64848;
  padding: 2px;
  border-radius: 5px;
}

.btn-nav-accordion.collapsed .fa-chevron-up {
  color: #467543;
  border: 1px solid #467543;
  padding: 2px;
  border-radius: 5px;
  transform: rotate(180deg);
}

.filters-title {
  color: #e64848;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
}

.filters-title:hover {
  color: #e64848;
  transition: 0.3s;
}

.btn-nav-accordion.collapsed .filters-title {
  color: #467543;
}