<div class="hohoho-content home-container d-flex flex-column justify-content-center align-items-center text-center">
<div class="contenedor container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white bg-warning mb-3" style="border-radius: 1rem">
          <div class="card-body p-5 text-center " id="box" style="border-radius: 1rem">
            <form name="form" novalidate>
              <h3 class="fw-bold mb-2 text-uppercase text-selector-town" id="register_color">Register on our site<img src="../../assets/img/candado.png"></h3>
              <p class="p1 text-white mb-5">Enter username, email and password</p>
              <div class="form-floating mb-4">
                <input type="text" name="username" id="floatingUsername" class="form-control bg-dark text-white"/>
                <label for="floatingUsername">Username</label>
              </div>
              <div class="form-floating mb-4">
                <input type="text" name="email" id="floatingEmail" class="form-control bg-dark text-white"/>
                <label for="floatingEmail">Email</label>
              </div>
              <div class="form-floating mb-4 ">
                <input type="password" name="password" id="floatingPassword" class="form-control bg-dark text-white" />
                <label for="floatingPassword">Password</label>
              </div>
              <button class="btn btn-outline-light btn-lg mt-3 px-5 custom-btn" type="submit">Log in <img src="../../assets/img/logging-unscreen.gif" class="white-image" height="23" width="23"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
